@font-face {
  font-family: NeueHaasUnica;
  src: url('./fonts/NeueHaasUnicaPro-Thin.otf')
}

body {
  font-family: 'Ubuntu';
  letter-spacing:0.05rem;
  font-size: 1rem;
  color: #000;
  margin: 0px;
}

body::after {
  content: "";
  background-image: url('/funky-texture.jpg');
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/* Nav */
.nav-box {
  background-color: #fafafa;
  padding: 0.5rem;
}

.nav-item {
  margin: 0.5rem;
  color: #555555;
  text-decoration-line: none;
}

.nav-item:hover {
  color: black;
  text-decoration-line: underline;
}

.nav-item.active {
  color: black;
  text-decoration: underline;
}

/* Grid */

.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.content {
  grid-column-start: 2;
  grid-column-end: 2;
}

/* Text */

.text {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

code {
  display: inline;
  background-color: #090909;
  color: #fafafa;
  padding: 0rem 0.5rem;
}

/* Logo */
.logo-container {
  position: relative;
  width: 5rem;
  height: 5rem;
  transition: width 200ms ease-in-out;
}

.logo-container:hover {
  width: 15rem;
}

.logo-left {
  position: absolute;
  border-top: #000 solid;
  border-left: #000 solid;
  left: 0;
  top: 0;
  width: 5.5rem;
  height: 5.5rem;
}

.logo-right {
  position: absolute;
  border-bottom: #000 solid;
  border-right: #000 solid;
  bottom: 0;
  right: 0;
  width: 5.5rem;
  height: 5.5rem;
}

.logo-slash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: 0 50%;
  transform: translateX(50%) rotate(45deg);
  border-left: #000 solid;
}

.logo-j {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
}

.logo-r {
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
}

.logo-text {
  font-weight: 780;
  font-size: 1.8rem;
  line-height: 2.5rem;
}