@font-face {
  font-family: NeueHaasUnica;
  src: url('./fonts/NeueHaasUnicaPro-Thin.otf')
}

body {
  font-family: 'Ubuntu';
  letter-spacing:0.05rem;
  font-size: 1rem;
  color: #000;
}

/* Nav */
.nav-box {

}

.nav-item {
  margin: 0.5rem;
  color: #555555;
  text-decoration-line: none;
}

.nav-item:hover {
  color: black;
  text-decoration-line: underline;
}

.nav-item.active {
  color: black;
  text-decoration: underline;
}

/* Grid */

.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.content {
  grid-column-start: 2;
  grid-column-end: 2;
}

.text {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

code {
  display: inline;
  background-color: #090909;
  color: #fafafa;
  padding: 0rem 0.5rem;
}