---
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include nav.html %}
  <body>
    <div class="container">
      <div class="content text">
        <h2>Jared Rewerts</h2>
        <p>
          I'm a Computer Engineer at the City of Edmonton. Open Source is the
          new frontier for municipalities, and my team is at the forefront. New
          business models are emerging and Engineers that build relationships
          within the right communities are what power them.
        </p>
        <p>
          Rather than focusing on fullstack, frontend or backend, I focus on
          products. Good technology will always underpin good products, and
          whether I need to build a React front end, a scalable REST service or
          an Android app, as long as I'm passionate about the product, I can get
          it done.
        </p>
      </div>
    </div>
  </body>
</html>
