---
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include nav.html %}
  <body>
    
    <div class="container">
      <div class="content text">
        <h2>Jared Rewerts</h2>
        <p>
          I'm a Computer Engineer at the City of Edmonton. Open Source is the
          new frontier for municipalities, and my team is at the forefront. New
          business models are emerging and Engineers that build relationships
          within the right communities are what power them.
        </p>
        <p>
          Rather than focusing on fullstack, frontend or backend, I focus on
          products. Good technology will always underpin good products, and
          whether I need to build a React front end, a scalable REST service or
          an Android app, as long as I'm passionate about the product, I can get
          it done.
        </p>
        <p>Alright, let's talk tech.</p>
        <p>
          YouCanBenefit, a citizen benefits navigator. Built entirely in the
          open by the BetaCityYEG community, I've helped streamline the
          development effort. Our goal is to make it fun to contribute
          engineering hours to something that has a massive impact on your
          community. Built with an Angular frontend, a NestJS backend and
          Elasticsearch - containerized and hosted in Kubernetes.
        </p>
        <p>
          PedCo, a privacy-friendly pedestrian counter with a sleek, 3d printed
          housing. Built to alleviate privacy concerns, this tiny detector uses
          edge-computed thermal pedestrian counting to minimize both cost and
          privacy invasion. Detection results are live streamed to Open Data for
          good measure. Uses OpenCV for blob detection and LoRa for long range,
          low energy communication.
        </p>
        <p>
          Browsh. Ever wish you could watch Footloose over SSH? Well now you can. Browsh renders webpages to unicode half blocks (▄). Mouse events are detected, so not only does it save crazy amounts of bandwidth, but it runs like a normal browser. Lynx, your time is near! The ssh-network interfacer is written in Golang, and the remote browser control is provided by a Firefox extension written in Javascript. <code>ssh brow.sh</code> to check it out.
        </p>
        <p>
          Jazz, a live chat VIP support application. Built for Android, iOS and Chrome users, my team made sure this app would run anywhere our VIP clients would want it to. Built with a true product-driven focus, engineers, designers and subject matter experts worked collaboratively to solve a real problem.
        </p>
        <p>
          Mailman: more emails than you've ever wanted to send, sent more easily than you've ever imagined. Born out of the need for a more powerful way to send emails from a Google Sheet, Mailman makes incredibly complicated merges easy using standard Google Sheets functions. Built with ES6 Javascript and Material Design Lite.
        </p>
        <p>
          CBRAV. An aerial video processing platform that identifies human-human and human-vehicle interactions. Built while in the R&D department of MDA. Our work was presented at a conference called the international society for optics and photonics (SPIE).
        </p>
      </div>
    </div>
  </body>
</html>
