<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Analyze, design, implement. From progressive web apps to scalable cloud infrastructure, I've built and maintained
                    business-critical applications for my employers.</p>
            </div>
            <div class="col-lg-4">
                <p>As a working Engineer in Training, I know when to pay attention to the little stuff and when to go big. Keeping
                    things simple often pays long term dividends. </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="Jared_Rewerts.pdf" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download CV
                </a>
            </div>
        </div>
    </div>
</section>