<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Jared Rewerts</title>
  <meta name="viewport" content="width=device-width" />
  <meta
    name="description"
    content="A Computer Engineer with a passion for Open Source."
  />
  <meta name="keywords" content="Computer Engineer" />
  <meta name="author" content="Jared Rewerts" />
  <link rel="canonical" href="j-rewerts.github.io" />
  <link rel="icon" href="/favicon.png" type="image/png" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="/js/onload.js"></script>
  <link
    href="https://fonts.googleapis.com/css?family=Ubuntu"
    rel="stylesheet"
  />
</head>
