<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="nav-alt">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home<span style="font-size:16px;" class="pull-right showopacity fas fa-home"></span></a></li>
                <li ><a href="#">About<span style="font-size:16px;" class="pull-right showopacity fas fa-user"></span></a></li>
                <li ><a href="#">Tech<span style="font-size:16px;" class="pull-right showopacity fas fa-toolbox"></span></a></li>
                <li ><a href="#">Projects<span style="font-size:16px;" class="pull-right showopacity fas fa-project-diagram"></span></a></li>
                <li ><a href="#">Contact<span style="font-size:16px;" class="pull-right showopacity fas fa-comments"></span></a></li>
            </ul>
        </div>
    </div>
</nav>