
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="row">
                        <div class="center-container row">
                            <div class="portfolio-item row">
                                <div class="col-sm-6">
                                    <img src="img/portfolio/{{ post.img }}" alt="{{ post.alt }}" class="project-icon">
                                </div>
                                <div class="col-sm-6">
                                    <h3>{{ post.title }}</h3>
                                    <div class="description">{{ post.description }}</div>
                                    <ul class="skills">
                                        {% for skill in post.skills %}
                                            <li>
                                                {{ skill.name }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>